<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Inventory & Sales Tracker</h1>
        <nav>
            <a href="{{ url_for('index') }}">Inventory</a>
            <a href="{{ url_for('add_product') }}">Add Product</a>
            <a href="{{ url_for('bill') }}">sale</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
